<h1>You have successfully added this sighting</h1>

<p>Click<a href='/species'> here</a> to return to the home page</p>
<p>Click<a href='species/<%= @sighting.species_id %>/sighting/new'> here</a> to add another <%= @sighting.species.name %> sighting</p>
