<h1>Wildlife Tracker</h1>

<h4>Here are the species we have on file:</h4>

<ul>
  <% @species.each do |species| %>
    <li><%= species.name %>   <a href="/species/<%= species.id %>/edit">Edit</a>   <a href="/species/<%= species.id %>" data-method="delete" rel="nofollow">Delete</a>    <a href="/species/<%= species.id %>/sightings">Sighting</a></li>
  <% end %>
</ul>

<a href="species/new">
  <p>Click here to enter a new species<p>
</a>
