<h1>Please enter new species:</h1>

<form action='/species' method='post'>
  <label for='species_name'>Name</label>
  <input id='species_name' name='name' type='text' value='ex:Owl'>
  <button>Add your species!</button>
</form>
