<h1>Your species has been successfully added to the system!</h1>

<p>Click<a href='species'> here</a> to return to the home page</p>
<p>Click<a href='species/new'> here</a> to add another species</p>
